Repository jmesnil/wildfly-charts-old, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, charts, documentation

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*
examples:
  - examples/**/*
charts:
  - charts/**/*
documentation:
  - ./README.md
  - charts/**/README.md
  - charts/**/values.schema.json

Add configuration for TLS-encryption of the Route
  charts/wildfly/README.md
  charts/wildfly/templates/route.yaml
  charts/wildfly/values.schema.json
  charts/wildfly/values.yaml
Labels: charts, documentation

update .gitignore
  .DS_Store
  .gitignore
Labels: repo

Support free-form volumes and volumeMounts for deployment
  charts/wildfly/Chart.yaml
  charts/wildfly/README.md
  charts/wildfly/templates/deploymentconfig.yaml
  charts/wildfly/values.schema.json
  examples/todo-backend/todo-backend-bootable-jar.yaml
Labels: examples, charts, documentation

Update index.yaml
  index.yaml
Labels: repo

Bump version to 0.9.9
  charts/wildfly/Chart.yaml
Labels: charts

move route to wildfly-common library chart
  charts/wildfly/Chart.yaml
  charts/wildfly/templates/route.yaml
  examples/todo-backend/todo-backend-bootable-jar.yaml
Labels: examples, charts

move imagestreams to wildfly-common library
  charts/wildfly-common/Chart.yaml
  charts/wildfly-common/templates/_imagestream.yaml
  charts/wildfly-common/templates/_route.yaml
  charts/wildfly-common/templates/_util.yaml
  charts/wildfly/Chart.lock
  charts/wildfly/charts/wildfly-common-0.1.0.tgz
  charts/wildfly/templates/imagestream-s2i-build-artifacts.yaml
  charts/wildfly/templates/imagestream.yaml
  examples/todo-backend/todo-backend.yaml
Labels: examples, charts

move buildconfigs to wildfly-common-library
  charts/wildfly-common/templates/_buildconfig-s2i-build-artifacts copy.yaml
  charts/wildfly-common/templates/_buildconfig-s2i.yaml
  charts/wildfly/charts/wildfly-common-0.1.0.tgz
  charts/wildfly/templates/buildconfig-s2i-build-artifacts copy.yaml
  charts/wildfly/templates/buildconfig-s2i.yaml
  examples/todo-backend/todo-backend.yaml
Labels: examples, charts

Update index.yaml
  index.yaml
Labels: repo

rework route template
  charts/wildfly-common/templates/_buildconfig-s2i-build-artifacts.yaml
  charts/wildfly-common/templates/_route.yaml
  charts/wildfly/charts/wildfly-common-0.1.0.tgz
  charts/wildfly/templates/buildconfig-s2i-build-artifacts.yaml
  charts/wildfly/templates/route.yaml
Labels: charts

move application images and names to wildfly-common library
  charts/wildfly-common/templates/_buildconfig-s2i-build-artifacts.yaml
  charts/wildfly-common/templates/_buildconfig-s2i.yaml
  charts/wildfly-common/templates/_route.yaml
  charts/wildfly/charts/wildfly-common-0.1.0.tgz
  charts/wildfly/templates/_helpers.tpl
  charts/wildfly/templates/buildconfig-bootable-jar.yaml
  charts/wildfly/templates/buildconfig-s2i-build-artifacts.yaml
  charts/wildfly/templates/buildconfig-s2i.yaml
  charts/wildfly/templates/deploymentconfig.yaml
  charts/wildfly/templates/imagestream-s2i-build-artifacts.yaml
  charts/wildfly/templates/imagestream.yaml
  charts/wildfly/templates/route.yaml
  charts/wildfly/templates/service.yaml
  examples/todo-backend/todo-backend.yaml
Labels: examples, charts

simplify templating of labels
  charts/wildfly-common/templates/_helpers.tpl
  charts/wildfly-common/templates/_service.yaml
  charts/wildfly/charts/wildfly-common-0.1.0.tgz
  charts/wildfly/templates/_helpers.tpl
  charts/wildfly/templates/route.yaml
  charts/wildfly/templates/service.yaml
Labels: charts

simplify templating of labels
  charts/wildfly/templates/imagestream.yaml
  charts/wildfly/templates/service.yaml
Labels: charts

simplify templating of labels
  charts/wildfly-common/templates/_imagestream.yaml
  charts/wildfly/charts/wildfly-common-0.1.0.tgz
  charts/wildfly/templates/imagestream-s2i-build-artifacts.yaml
  charts/wildfly/templates/imagestream.yaml
Labels: charts

add template for S2I build-artifacts in wildfly-common
  charts/wildfly-common/templates/_imagestream-s2i-build-artifacts.yaml
Labels: charts

move deploymentconfig to wildfly-common library
  charts/wildfly-common/templates/_deploymentconfig.yaml
  charts/wildfly/charts/wildfly-common-0.1.0.tgz
  charts/wildfly/templates/deploymentconfig.yaml
Labels: charts

move deploymentconfig to wildfly-common library
  charts/wildfly/charts/wildfly-common-0.1.0.tgz
  charts/wildfly/templates/buildconfig-bootable-jar.yaml
Labels: charts

move bootable-jar buildconfig to wildfly-common
  charts/wildfly-common/templates/_buildconfig-bootable-jar.yaml
  examples/todo-backend/todo-backend-bootable-jar.yaml
Labels: examples, charts

Bump chart versions
  charts/wildfly-common/Chart.yaml
  charts/wildfly/Chart.yaml
Labels: charts

use wildfly.metadata.labels in buildconfig templates
  charts/wildfly/templates/buildconfig-s2i-build-artifacts.yaml
  charts/wildfly/templates/buildconfig-s2i.yaml
Labels: charts

lock dependencies
  charts/wildfly/Chart.lock
  charts/wildfly/charts/wildfly-common-0.1.0.tgz
Labels: charts

Update index.yaml
  index.yaml
Labels: repo

add missing wildfly-common tgz
  charts/wildfly/charts/wildfly-common-0.1.1.tgz
Labels: charts

Bump wildfly version to 0.9.11
  charts/wildfly/Chart.yaml
Labels: charts

Update index.yaml
  index.yaml
Labels: repo

Bump to 0.9.12 and fix dep
  charts/wildfly/Chart.yaml
  charts/wildfly/charts/wildfly-common-0.1.1.tgz
Labels: charts

Lock chart dependencies
  charts/wildfly/Chart.lock
Labels: charts

One more time
  charts/wildfly/Chart.lock
  charts/wildfly/Chart.yaml
  charts/wildfly/charts/wildfly-common-0.1.1.tgz
Labels: charts

Update index.yaml
  index.yaml
Labels: repo

one more more time
  charts/wildfly/Chart.yaml
  charts/wildfly/charts/wildfly-common-0.1.1.tgz
Labels: charts

one more more time
  charts/wildfly/Chart.yaml
Labels: charts

one more more more time
  charts/wildfly/Chart.lock
Labels: charts

Bump version to 0.9.13
  charts/wildfly/Chart.yaml
Labels: charts

remove Chart.lock
  charts/wildfly/Chart.lock
Labels: charts

Update index.yaml
  index.yaml
Labels: repo

Bump version to 0.9.13
  charts/wildfly/Chart.lock
  charts/wildfly/Chart.yaml
Labels: charts

Remove build.envFrom from the doc and schema
  charts/wildfly/README.md
  charts/wildfly/values.schema.json
Labels: charts, documentation

[#6] support free-form init and extra containers for deployment
  charts/wildfly-common/templates/_deploymentconfig.yaml
  charts/wildfly/README.md
  charts/wildfly/values.schema.json
Labels: charts, documentation

Bump wildfly-common to 0.1.2
  .gitignore
  charts/wildfly-common/Chart.yaml
  charts/wildfly/Chart.yaml
Labels: repo, charts

Bump wildfly version to 0.9.14
  charts/wildfly/Chart.yaml
Labels: charts
