Repository jmesnil/wildfly-charts-old, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, charts, documentation

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*
examples:
  - examples/**/*
charts:
  - charts/**/*
documentation:
  - ./README.md
  - charts/**/README.md
  - charts/**/values.schema.json

Update index.yaml
  index.yaml
Labels: repo

[#8] Add build triggers for GitHub & Generic Webhooks
  charts/wildfly-common/Chart.yaml
  charts/wildfly-common/templates/_buildconfig-bootable-jar.yaml
  charts/wildfly-common/templates/_buildconfig-s2i-build-artifacts.yaml
  charts/wildfly-common/templates/_helpers.tpl
  charts/wildfly/Chart.yaml
  charts/wildfly/README.md
  charts/wildfly/values.schema.json
  charts/wildfly/values.yaml
Labels: charts, documentation

Bump wildfly version to 0.9.15
  charts/wildfly/Chart.yaml
Labels: charts

Update index.yaml
  index.yaml
Labels: repo

Update all openshift links to latest
  charts/wildfly/README.md
Labels: charts, documentation

add build.pullSecret configuration
  charts/wildfly-common/Chart.yaml
  charts/wildfly-common/templates/_buildconfig-bootable-jar.yaml
  charts/wildfly-common/templates/_buildconfig-s2i-build-artifacts.yaml
  charts/wildfly-common/templates/_buildconfig-s2i.yaml
  charts/wildfly-common/templates/_helpers.tpl
  charts/wildfly/Chart.yaml
  charts/wildfly/README.md
Labels: charts, documentation

Update index.yaml
  index.yaml
Labels: repo
